.postContainer {
    padding-top: 8px;
    background-color: #dadde1;
}

.post {
    width: 100%;
    padding: 12px;
    padding-bottom: 0px;
}

.header {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.postInfosContainer {
    width: 100%;
}

.author {
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.diffText {
    cursor: pointer;
    font-size: 0.8em;
    position: relative;
    width: fit-content;
}

.formattedDate {
    width: fit-content !important;
    padding: 8px;
    font-size: 0.8em;
    background-color: rgb(238, 238, 238);
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
}

.diffText:hover {
    text-decoration: underline;
}

.diffText:hover + .formattedDate {
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

.menuBtn {
    padding-top: 0px !important;
    padding-right: 0px !important;
    display: flex;
    justify-content: flex-end;
}

.text {
    margin-bottom: 24px;
    text-align: justify;
}

.reactions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.likesCount {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black !important;
}

.reactOptions {
    display: flex;
    justify-content: space-evenly;
}

.likes {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black !important;
    width: 40%;
    padding: 8px !important;
    text-transform: none !important;
    font-size: 1em !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif !important;
    font-weight: normal !important;
}

.liked {
    color: #1860d4 !important;
}

.commentsCount {
    cursor: pointer;
}

.barContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 90%;
    border-top: solid 1px #dadde1;
}

.fullBar {
    width: 100%;
    border-top: solid 1px #dadde1;
}

.commentFormContainer {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.commentFormInput {
    width: calc(100% - 100px);
}

.commentFormBtn {
    height: 56px;
}

.commentsContainer {
    padding-bottom: 6px;
}
