.app {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.header {
    height: 80px;
    background-color: #091f43;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
}

.logo {
    width: 160px;
}

.accountButton {
    display: flex;
    justify-content: center;
    position: absolute !important;
    right: 35px;
}

.accountIcon {
    color: white;
    font-size: 2.1875rem !important;
}

.logoutButton {
    width: 40px !important;
    min-width: 40px !important;
    height: 40px !important;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute !important;
    right: 0;
}

.logoutIcon {
    color: white;
    font-size: 1.5rem !important;
}

.minHeader {
    height: 40px;
    background-color: #091f43;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
}

.backButton {
    width: 120px;
    height: 100%;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    background-color: #dadde1;
    position: relative;
}

.defaultHeight {
    min-height: calc(100vh - 80px);
    margin-top: 80px;
}

.heightWithMinHeader {
    min-height: calc(100vh - 40px);
    margin-top: 40px;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1440px) {
}
