.cancelable-forms {
    &__buttons-container {
        display: flex !important;
        justify-content: space-between !important;
        margin-top: 12px !important;
    }
    &__button {
        width: 48% !important;
    }
}
